/* Global Styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://serv.200038.xyz/2024/09/28/287580.webp'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for Content with Gradient Background */
.container {
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    border-radius: 15px;
    padding: 20px;
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Avatar Logo Styles */
.avatar-container {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    position: relative;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

/* Heading Styles */
h1 {
    color: rgb(34, 30, 104);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Description Styles */
.description {
    color: rgb(34, 30, 104);
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

/* URL List Styles */
ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

li .latency {
    font-weight: bold;
}

.latency-fast {
    color: rgb(36, 170, 29);
}

.latency-medium {
    color: rgb(142, 161, 40);
}

.latency-slow {
    color: rgb(246, 152, 51);
}

.latency-error {
    color: rgb(236, 70, 28);
}

.checkmark {
    color: #6bdf8f;
    font-size: 16px;
    margin-left: 5px;
}

/* Visit Count Text */
.minifont {
    color: rgb(34, 30, 104);
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Button Styles */
.refresh-button {
    background-color: #6bdf8f;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.refresh-button:hover {
    background-color: #55c678;
}
